@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
a {
  text-decoration: none;
}

button {
  border: none;
}

a,
button {
  cursor: pointer;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

html {
  height: auto;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.header {
  -moz-column-gap: 10px;
       column-gap: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0% 11.4% 0% 11.4%;
  height: 60px;
}

.nav-left {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 17%;
  margin-left: 1%;
}

.nav-left-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505F98;
}

.text-landie {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
  z-index: 1;
}

.btn1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  width: 160px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
  z-index: 1;
}

.header--fone {
  position: absolute;
  width: 68%;
  height: auto;
  top: 0%;
  left: 32%;
  overflow: hidden;
}

.left-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 13%;
  padding-left: 11.2%;
  z-index: 1;
  margin-bottom: 420px;
}

.left-section-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  letter-spacing: 1px;
  margin-bottom: 1%;
}

.left-section-paragr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
}

.two__button {
  margin-top: 10%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn__one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 45%;
  height: 36px;
  background: #111B47;
  border-radius: 2px;
}

.btn__two {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  width: 45%;
  height: 36px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 2px solid #091133;
}

.main-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0% 11.4% 0% 11.4%;
}

.main-row-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-row-info-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 45%;
}

.main-row-info-text-h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  width: 80%;
}

.main-row-info-text-p1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  margin-bottom: 10px;
  width: 80%;
}

.main-row-info-text-p2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  width: 80%;
  margin-bottom: 13%;
}

.main-row-info-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.main-row-info-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main-row-info-title-h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.main-row-info-title-p3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

.main-row--img {
  width: 50%;
}

.main-row-intro {
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 0;
  justify-content: space-between;
}

.lotos-img {
  width: 50%;
}

.lotos-img img {
  max-width: 100%;
}

.lotos-swan {
  width: 50%;
}

.lotos-swan img {
  max-width: 100%;
}

.lotos-mail {
  width: 50%;
}

.lotos-mail img {
  max-width: 100%;
}

.main-row-info-text-p2-last {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  width: 80%;
  margin-bottom: 5%;
}

.btn4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  width: 150px;
  height: 32px;
  background: #111B47;
  border-radius: 2px;
}

.mt-top {
  margin-top: 50px;
}

.text-block {
  box-sizing: border-box;
  margin: 0 auto;
  width: 42%;
  height: auto;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 18%;
  padding-bottom: 14%;
}

.text-block-h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-bottom: 16px;
}

.text-block-title-one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  margin-bottom: 36px;
}

.text-block-price-dol {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #222F65;
}

.text-block-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  row-gap: 5px;
  margin-bottom: 60px;
}

.text-block-title-two {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #37447E;
}

.text-block-button {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.text-block-button-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
}

.btn-4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  width: 190px;
  height: 32px;
  background: #111B47;
  border-radius: 2px;
}

.bigfooter {
  position: relative;
  background-color: #E7ECFF;
  display: flex;
  flex-direction: column;
  padding: 4.3% 11.5% 2.2% 11.5%;
}

.bigfooter-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bigfooter-top-company {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
}

.bigfooter-top-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}

.btn-5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  width: 110px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
}

.little-line {
  margin: 0 auto;
  height: 2px;
  width: 100%;
  background-color: #CDD1D4;
  margin-bottom: 20px;
}

.bigfooter-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bigfooter-bottom-nav {
  width: 20%;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: space-between;
}

.bigfooter-bottom-nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #929ECC;
}

.all-social-media {
  width: 20%;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: space-between;
}

.footer-img {
  height: 800px;
  width: 100%;
  max-width: 2000px;
  position: absolute;
  bottom: 71%;
  right: 0%;
  z-index: -1;
}