.gorizontal-line {
   width: 1600px;
   width: 100%;
   height: 2px;
   background: #9C69E2;
   opacity: 0.2;
   margin: 0px 0px 0px 0px;
   margin-top: 150px;
}


.section-footer {
   box-sizing: border-box;
   margin-top: 100px;
   width: 100%;
   min-width: 1140px;
   height: 761px;
}
.section-title {
display: flex;
align-items: center;
justify-content: space-between;
}
.title-footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 584px;
   height: 101px;
}
.title-footer-free {
   width: 405px;
   height: 52px;
   font-family: 'Helvetica', serif;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   align-items: center;
   color: #212353;
}
.title-footer-get {
width: 584px;
height: 29px;
font-family: 'Avenir', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}
.section-two-buttton {
   width: 410px;
   height: 60px;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   display: flex;

}
.section-two-buttton-first {
   width: 170px;
   height: 60px;
   background-color: #F063B8;
   border-radius: 50px;
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 18px;
   line-height: 160%;
   color: #FFFFFF;
   border: none;
}
.section-two-buttton-second {
   width: 210px;
   height: 60px;
   border: none;
   box-sizing: border-box;
   padding: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   background: #FFFFFF;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   border-radius: 50px;
}
.section-two-buttton-second p {
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 160%;
   letter-spacing: 0.005em;
   color: #212353;
}
.section-two-buttton-second img {
   width: 20px;
   height: 14px;
}



.copyright-massage {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.copyright-massage p {
   width: 360px;
   height: 50px;
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 180%;
   letter-spacing: 0.01em;
   color: #212353;
   align-items: center;
}
.copyright-massage img {
   width: 60px;
   height: 60px;
}
.footer-middle-section {
   box-sizing: border-box;
   padding-top: 120px;
   height: 490px;
   width: 100%;
   display: flex;
   flex-direction: row;
}
.sectiom-footer-first {
height: 490px;
width: 335px;
}
.sectiom-footer-first-logo {
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 60px;
}
.sectiom-footer-first-logo img {
   width: 49px;
   height: 35px;
   margin-right: 15px;
}
.sectiom-footer-first-logo h3 {
   width: 153px;
   height: 30px;
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 160%;
   color: #212353;
}
.adress {
   width: 335px;
   height: 65px;
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.01em;
   color: #212353;
   margin-bottom: 30px;
}
.contact-infoo {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
width: 335px;
height: 60px;
}
.contact-infoo-mail,
.contact-infoo-tel {
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.01em;
   color: #212353;
}
.sectiom-footer-second,
.sectiom-footer-third {
   margin-left: 100px;
   width: 166px;
   height: 250px;
}
.title-h4 {
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 160%;
   color: #212353;
   margin-bottom: 45px;
}
.sectiom-footer-second,
.sectiom-footer-third a {
   font-family: 'Avenir', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 250%;
   color: #212353;
}
.sectiom-footer-fourth {
   margin-left: 100px;
   width: 178px;
   height: 110px;
}
.social-media {
   width: 178px;
   height: 110px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.social-media img {
   width: 50px;
   height: 50px;
}