@import url("./font.css");
* {
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
body {
   background: #a7a7aa;;
}
.container {
   background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
   width: 1600px;
   height: 4500px;
   max-width: 1600px;
   padding: 50px 240px 90px 220px;
   box-sizing: border-box;
   margin: 0 auto;
}

.container-slider {
   width: 1120px;
   height: 710px;
   background-color: #9C69E2;
   border-radius: 50px;
}

.section-footer {
   width: 1140px;
   height: 765px;
}
button,
a {
   text-decoration: none;
   cursor: pointer;
}
