.buttons-nine {
   flex-direction: row-reverse;
   @include border-back ($blue, none);

   & p {
      @include text(500, 15px, 18px, $white);
   }

   & .download-icon {
      stroke: $white;
   }
}

.buttons-ten {
   flex-direction: row-reverse;
   @include border-back ($light-grey, none);

   & p {
      @include text(500, 15px, 18px, $grey);
   }

   & .download-icon {
      stroke: $grey;
   }
}

.buttons-eleven {
   flex-direction: row-reverse;
   @include border-back ($white, 1px solid $black);

   & p {
      @include text(500, 15px, 18px, $black);
   }

   & .download-icon {
      stroke: $black;
   }
}

.buttons-twelve {
   flex-direction: row-reverse;
   @include border-back ($white, 1px solid $blue);

   & p {
      @include text(500, 15px, 18px, $blue);
   }

   & .download-icon {
      stroke: $blue;
   }
}