body {
   height: auto;
   width: 100%;
   max-width: 1440px;
}
/* @media screen and (min-width: 300px) {
   body, .header, .main, .footer {
      height: auto;
      width: 1850px;
   }
} */
.header {
background-color: #ED4C5C;
display: flex;
height: 500px;
}

.section_header_left {
   font-family: 'Lato';
   font-style: normal;
   color: #FFFFFF;
}
.title_header{
   margin: 122px 81px 24px 165px;
   font-weight: 600;
   font-size: 36px;
   line-height: 43px;
   width: 445px;
   height: 107px;
}
.text_header {
   width: 445px;
   height: 64px;
   font-weight: 400;
   font-size: 14px;
   line-height: 140%;
   margin: 0px 81px 42px 165px;
   text-align: justify;
   font-family: 'Lato';
   font-style: normal;
}
.link_img {
   display: flex;
   margin: 0px 81px 113px 166px;
   width: 134px;
   height: 32px;
   justify-content: space-between;

}
.link_googleplay {
   width: 32px;
   height: 32px;
}
.link_applestore {
   width: 32px;
   height: 32px;
}
.link_microsofstore {
   width: 24px;
   height: 24px;
}
.section_header_right {
   position: relative;
   width: 533px;
   height: 311px;
   box-sizing: border-box;
   margin: 94px 0px 95px 0px;

}
.img_left {
   position: absolute;
   width: 383px;
   height: 267px;
   top: 22px;
   left: 0px;
}
.img_left:hover {
   z-index: 2;
   opacity: 1;
}
.img_centr {
position: absolute;
width: 445px;
height: 311px;
top: 0;
left: 44px;
z-index: 1;

}
.img_right {
   position: absolute;
   top: 22px;
   left: 150px;
   width: 383px;
   height: 267px;
}
.img_right:hover {
   z-index: 2;
   opacity: 1;
}
.main {
   display: flex;
   height: 500px;
   margin: 0px 0px 45px 0px;
   background-color: #FFFFFF;
}
.text_left_main {
   width: 445px;
   height: 160px;
   margin: 117px 114px 0px 176px;
   font-family: 'Lato';
   font-style: normal;
   color: #000000;
}
.text_left_main h2 {
   font-weight: 600;
   font-size: 36px;
   line-height: 43px;
   text-align: left;
   margin: 0px 0px 0px 0px;
}
.text_left_main p {
   width: 434px;
   height: 64px;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   margin: 59px 11px 0px 0px;
   text-align: justify;
}
.form {
   width: 540px;
   height: 305px;
   margin: 117px 165px 78px 0px;
   font-family: 'Lato';
   font-style: normal;
}
input {
   display: inline-block;
   border: 1px solid #333333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   box-sizing: border-box;
   padding-left: 5px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}
.input_firstname {
   width: 255px;
   height: 60px;
   margin: 0px 25px 24px 0px;
}
.input_lastname {
   margin: 0px 0px 24px 0px;
   width: 255px;
   height: 60px
}
.input_tel {
   width: 540px;
   height: 60px;
   margin: 0px 0px 24px 0px;
}
.input_ration {
   width: 540px;
   height: 60px;
}
.input_submit {
   width: 160px;
   height: 50px;
   border: 1.5px solid #ED4C5C;
   background-color: #ED4C5C;
   color: #FFFFFF;
   margin-top: 27px;
}
.footer {
   font-family: 'Lato';
   font-style: normal;
   display: flex;
   background-color: #FAFAFA;
   height: 435px;
}
.footer_one {
   width: 259px;
   height: 264px;
   margin: 85px 30px 86px 161px;
}
.footer_one h3 {
   width: 65px;
   height: 22px;
   margin: 0px 0px 33px 5px;
}
.text_address {
   width: 254px;
   height: 54px;
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   margin: 0px 0px 141px 5px;
   text-align: left;
}
.text_copyright {
   width: 155px;
   height: 14px;
   height: 14px;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #101010;
   margin: 0px 0px 86px 5px;
}
.footer_two {
   width: 254px;
   height: 164px;
   margin: 85px 30px 186px 0px;
}
.footer_two h3 {
margin: 0px 0px 28px 0px;
}
.list_footer {
list-style-type: none;
padding: 0px;
margin: 0px 0px 0px 0px;
}
.list_footer li {
   margin-top: 5px;
}
li a {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 160%;
   text-transform: capitalize;
   color: #000000;
}
.footer_three {
   width: 122px;
   height: 128px;
   margin: 85px 166px 0px 0px;

}
.footer_three h3 {
margin: 0px 0px 30px 0px;   
}
.mail {
margin: 0px 0px 11px 0px;
width: 122px;
height: 14px;
}
.mail a {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #101010;
}
.phone {
   margin: 0px 0px 22px 0px;
   width: 96px;
   height: 14px;
}
.phone a {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #121212;
}
.link_social_media {
   width: 66px;
   height: 14px;
   display: flex;
   justify-content: space-between;
}
.footer_four {
width: 216px;
margin-top: 85px;
}
.footer_four h3 {
margin: 0px 0px 33px 0px;
}
.img_visa {
width: 216px;
height: 31px;
}
h3 {
   width: 120px;
   height: 22px;
   color: #101010;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
}