.big-section {
   width: 1440px;
   height: 570px;
   background-repeat: no-repeat;
   background-image: url("../img/fonegirl.png");
   display: grid;
   grid-template-columns:repeat(2, 50%);
   grid-template-rows: repeat(1, 1fr);
   grid-row: 1/6;
   margin-bottom: 70px;
}
.item-one {

   padding: 103px 0px 118px 164px ;
}

.item-one-p-1 {
   width: 361px;
   height: 134px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 67px;
   color: #FFFFFF;
   margin-bottom: 13px;
}
.item-one-p-2 {
   width: 446px;
   height: 90px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #FFFFFF;
   margin-bottom: 34px;
}
.btn-1 {
border: none;
   width: 255px;
   height: 77px;
   background: #1B2437;
   border-radius: 15px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   color: #FFFFFF;
   cursor: pointer;
}
.long-section {
   height: auto;
   width: 1440px;
   padding: 0px 165px;
}
.grid-women-colection {
   width: 1110px;
   height: 458px;
   display: grid;
   gap: 30px;
   grid-template-columns: 445px 303px 302px ;
   grid-template-rows: 1fr 1fr;
} 
.cell-one {
   width: 445px;
   height: 458px;
   grid-column: 1/3;
   grid-row: 1/3;
   background-image: url("../img/whitewoman.png");
   border-radius: 16px;
   padding: 265px 0px 30px 32px;
} 
.cell-one h2 {
   width: 144px;
   height: 90px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #FFFFFF;

}
.cell-one p {
   width: 144px;
   height: 30px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   margin-bottom: 8px;
}
.cell-one button {
   width: 93px;
   height: 30px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 30px;
   color: #FFFFFF;
   background-color: rgba(255, 255, 255, 0.3)
}
.cell-two {
   width: 303px;
   height: 225px;
   grid-column: 2/3;
   grid-row: 1/2;
   background: #EFEFF4;
   border-radius: 16px;
   padding-left: 22px;
   padding-top: 53px;
}
.cell-two p {
   width: 120px;
   height: 30px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #1B2437;
}
.cell-two h2 {
   width: 160px;
   height: 90px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #1B2437
}
.cell-three {
   width: 302px;
   height: 225px;
   grid-column: 3/4;
   grid-row: 1/2;
   background-image: url("../img/dresses_category.png");
   border-radius: 16px;
   padding-top: 53px;
   padding-left: 40px;
} 
.cell-three p {
   width: 35px;
   height: 30px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
}
.cell-three h2 {
   width: 119px;
   height: 45px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #FFFFFF;
}
.cell-four {
   width: 635px;
   height: 204px;
   grid-column: 2/4;
   grid-row: 2/3;
   background-image: url("../img/denim_jackets_category.png");
   border-radius: 16px;
   padding-top: 65px;
   padding-left: 40px;
}
.cell-four p {
width: 281px;
   height: 30px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #1B2437;
}
.cell-four h2 {
width: 281px;
   height: 45px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #1B2437;
}
.grid-women-clothes {
   margin-top: 30px;
   display: grid;
   width: 1110px;
   height: 314px;
   gap: 30px;
   grid-template-columns: repeat(4, 255px);
   grid-template-rows: 223px 60px;
   background: #FFFFFF;
   border-radius: 16px;
}
.grid-women-clothes-slider {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;

}
.image-closes {
   width: 255px;
   height: 207px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.image-closes1 {
   width: 156px;
   height: 127px
}
.image-closes2 {
   width: 100px;
   height: 138px;
}
.image-closes3 {
   width: 156px;
   height: 92px;
}
.image-closes4 {
   width: 94px;
   height: 132px;
}

.grid-women-clothes-slider p {
font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
}
.circle-area{
grid-column: 1/5;
grid-row: 2/2;
width: 84px;
height: 12px;
display: flex;
justify-content: space-between;
margin: 0 auto;

} 
.circle-area1 {
border-radius: 50%;
background: #EFEFF4;
width: 12px;
height: 12px;
}
.circle-area1:hover {
   background: #EDA3B5;
}

.clothes-price {
   display: grid;
   grid-template-columns: repeat(3, 350px);
   grid-template-rows: repeat(2, 487px);
   gap: 30px;
} 
.clothes-block {
   position: relative;
   width: 350px;
   height: 487px;
   background: #FFFFFF;
   box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
   border-radius: 16px;
} 
.clothes-block img {
   width: 350px;
   height: 270px;
   border-radius: 16px 16px 0px 0px;
}
.clothes-block h4 {
   width: 325px;
   height: 30px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
   margin: 16px 0px 8px 24px;
}
.clothes-block p {
   width: 325px;
   height: 60px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: #000000;
   margin: 0px 0px 27px 24px;
}


.box-price {
display: flex;
justify-content: space-between;
margin-left: 24px;
margin-right: 18px;
}
.box-price p{
   width: 92px;
   height: 37px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 30px;
   color: #000000;
}
.btm-1,
.btm-2 {
   width: 153px;
   height: 58px;
   border-radius: 15px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   border: none;
   cursor: pointer;
   color: #FFFFFF;
} 
.btm-1 {
background: #EDA3B5;
}
.btm-2 {
   background: #1B2437;
}
.like {
   display: flex;   
   box-sizing: border-box;
   position: absolute;
   top: 16px;
   right: 16px;
   background: #FFFFFF;
   opacity: 0.6;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   cursor: pointer;
} 
.like img {
   width: 17px;
   height: 27px;
}

.contacts {
   margin: 70px 0px 35px 0px;
   width: 194px;
   height: 67px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 67px;
   color: #1B2437;
}

.map-contacts {
   position: relative;
   width: 1110px;
   height: 658px;
   background: #FFFFFF;
   border-radius: 16px;
   padding: 12px 12px 25px 12px;
   margin-bottom: 70px;
}
.map {
width: 100%;
height: 511px;
}

.contacts-row {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 120px;
padding-top: 27px;
} 
.contacts-row-phone {
margin-left: 110px;
} 
.contacts-row-phone img {
   width: 33px;
   height: 33px;
   margin: 0px 0px 25px 6px;
}
.contacts-row-phone p,
.contacts-row-location p,
.contacts-row-mail p {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #000000;
}
.contacts-row-location {
   padding: 0px 150px;
}
.contacts-row-location img {
   margin-bottom: 15px;
   width: 40px;
   height: 40px;
   margin-left: 15px;
} 
.contacts-row-mail {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 140px;
} 
.contacts-row-mail img{
   width: 33px;
   height: 27px;
   margin: 3px 23px 0px 66px;
}
.phone1 {
   width: 165px;
   height: 30px;
}
.phone1 a {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
}
.current-location {
   position: absolute;
   width: 35px;
   height: 62px;
   right: 631px;
   bottom: 330px;
}