body {
   min-width: 1440px;
   z-index: 1;
}
.jedi {
width: 100%;
display: flex;
flex-direction: column;
background-image: url("../img/starsky.jpg");
height: 900px;
} 
p {
   margin-top: 20px;
   margin-left: 30px;
   color: rgb(212, 218, 222);
}
.sword-block {
display: flex;
flex-direction: row;
height: 150px;
}
.lightsaber img{
   width: 200px;
   margin-top: 36px;
}
.start-sword {
   margin-top: 48px;
   position: relative;
   height: 16px;
   width: 90px;
   background-color: rgb(212, 192, 38);
   border-radius: 0px 5px 5px 0px;
   z-index: -10;
}

.lightsaber:hover + .start-sword  {
   transform: scaleX(6);
   box-shadow: 2px 2px 5px 5px rgb(232 212 65 / 20);
   transform-origin: center left;
   transition: transform 3s;
   z-index: 0;
   
}

.two-sword {
   position: relative;
   box-sizing: border-box;
   height: 600px;
   padding: 0px 50px 0 50px;
}
   .red-sword-block{
      animation: red-sword 4s infinite;
      position: absolute;
      display: flex;
      top: 40%;
      left: 8%;
   } 
   .red-sword {
      margin-top: 17px;
      height: 13px;
      width: 600px;
      background-color: rgb(231, 14, 14);
      box-shadow: 0px 0px 4px 4px rgba(237, 69, 8, 0.615);
   }
   .lightsaber-red img{
      width: 200px;
   } 
   .blue-sword-block {
      animation: blue-sword 4s infinite;
      position: absolute;
      display: flex;
      transform: rotate(180deg);
      left: 80%;
      top: 40%;
   } 
   .lightsaber-red img{
      width: 200px;
   }
   .blue-sword {
      margin-top: 17px;
      height: 13px;
      width: 600px;
      background-color: rgb(8, 30, 155);
      box-shadow: 0px 0px 4px 4px rgba(13, 44, 246, 0.615);
   }
   @keyframes blue-sword {
   0% {
      rotate: -30deg;
      transform-origin: left;
   }
   50% {
      rotate: 30deg;
      transform-origin: left;
   }

   100% {
      rotate: -30deg;
      transform-origin: left;
   }
}

@keyframes red-sword {
   0% {
      rotate: -30deg;
      transform-origin: left;
   }

   50% {
      rotate: 30deg;
      transform-origin: left;
   }

   100% {
      rotate: -30deg;
      transform-origin: left;
   }
}


/* закон збереження імпцльсу і вирвиококольори*/

.newton {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 600px;
   background-color: rgba(221, 62, 40, 0.677);
}
.ball {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   background-color: green;
}
.left-ball {
      animation: left 4s 0s infinite;
}

@keyframes left {
   0% {
      transform: translate(0x, 0px);
      transform-origin: center;

   }

   20% {
      transform: translate(-120px, -80px);
      transform-origin: center;
   }

   40% {
      transform: translate(0px, 0px);
      transform-origin: center;
   }
}

.right-ball {
   animation: right 4s 2s infinite;
}

@keyframes right {
   0% {
      transform: translate(0px, 0px);
      transform-origin: center;

   }

   20% {
      transform: translate(120px, -80px);
      transform-origin:  center ;
   }

   40% {
      transform: translate(0px, 0px);
      transform-origin: center;
   }
}


.two {
   animation: two 4s 0.8s infinite;
}
@keyframes two {
   70% {
      background-color: rgb(168, 174, 4);

   }

   80% {
      background-color: rgb(168, 174, 4);
   }

   90% {
      background-color: green;
   }
}
.three {
   animation: three 4s 1s infinite;
}
@keyframes three {
   60% {
      background-color: rgb(255, 34, 0);

   }

   65% {
   background-color: rgb(255, 34, 0);
   }

   75% {
      background-color: green;
   }
}
.four {
   animation: four 4s 1.3s infinite;

}
@keyframes four {
   25% {
      background-color: rgb(174, 27, 210);

   }

   55% {
      background-color: rgb(174, 27, 210);
   }

   75% {
      background-color: green;
   }
}
.five {
animation: five 4s 1.7s infinite;
}
@keyframes five {
   25% {
      background-color: rgb(20, 147, 113);

   }

   45% {
      background-color: rgb(20, 147, 113);
   }

   50% {
      background-color: green;
   }
}
.six {
animation: six 4s 2s infinite;
}
@keyframes six {
   15% {
      background-color: rgb(3, 27, 7);

   }

   30% {
      background-color: rgb(3, 27, 7);
   }

   50% {
      background-color: green;
   }
}