body {
   background-color: #E5E5E5;
   width: 1488px;
   margin: 0px 0px 0px 0px;
}

.banner_1 {
font-family: 'Inter', sans-serif;
display: flex;
width: 1440px;
height:72px;
background-color: #0B2239;
margin: 228px 24px 24px 24px;
}

.text_1{
width: 922px;
height: 40px;
margin: 16px 32px 16px 120px;
color: #ffffff;
font-size: 13px;
line-height: 20px;
text-align: left;
}
.link_1 {
   width: 106px;
   margin: 18px 0px 18px 0px;
   height: 36px;
   text-align: center;
   justify-content: center;
   padding-top: 8px;
}

.link_1 a{
   height: 36px;
   font-size: 12px;
   line-height: 20px;
   font-weight: 600;
   color: #4AD295;
}

.button_1 {
padding: 0px;
width: 130px;
height: 36px;
border: none;
box-sizing: border-box;
margin: 18px 96px 18px 20px;
background-color: #4AD295;
text-align: center;
border-radius: 2px;
}

.banner_2{
   width: 1440px;
   height: 52px;;
   display: flex;
   justify-content: center;
   margin: 0px 24px;
   background-color: #2B2627;
}

.img_1,.img_2 {
height: 16px;
width: 16px;
margin-top: 18px;
}

.text_2,.text_2 a{
color: #ffffff;
font-family: Inter;
   font-size: 13px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
}
.text_2 {
   margin: 18px 8px;
}