.box_for_all_table {
   width: 100%;
   height: 1500px;
   min-width: 1500px;
   margin: 0px 0px 0px 0px;
   padding: 0px;
   background-color: #2C2C2C;
   padding: 50px 0px 0px 25px;
   font-family: 'Arimo', sans-serif;
}

#size_lef_th {
   width: 525px;
}
#size_centr_th {
   width: 280px;
}
#size_right_th {
   width: 245px;
}
#size_left {
   width: 525px;
}

#size_centr {
   width: 280px;
}

#size_right {
   width: 245px;
}
#size_left_three {
   width: 525px;
}

#size_centr_three {
   width: 280px;
}

#size_right_three {
   width: 245px;
}
.circle {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #777575;
}

.flex_circle {
   width: 25px;
   height: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 0px 0px 80%;
}

table {
   table-layout: fixed;
   height: auto;
   border-collapse: collapse;
   border: 1px solid #777575;
   color: #777575;
   margin-bottom: 20px;
   text-align: left;
   font-weight: 500;
   font-style: normal;
}
tr {
   border-top: 1px solid #777575;
}
th, td {
   height: 50px;
   line-height: 20px;
   font-size: 1em;
   box-sizing: border-box;
   padding-left: 10px;
   height: 49px;
}

th,
span {
   line-height: 20px;
   font-size: 1em;
   color: #ffffff;
}

img {
   width: 24px;
   height: 24px;
   margin-right: 8px;
}
.triangle_down {
   margin: 4px 0px 0px 8px;
   height: 0px;
   width: 0px;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 8px solid #ffffff;
}

.triangle_row,
.img_icon {
   display: flex;
   align-items: center;
   margin: 0px 0px 0px 0px;
}

input[type="checkbox"] {
   margin: 0px 5px 0px 0px;
   opacity: 0.4;
}
input[type="checkbox"]:checked{
   opacity: 1;
}
input[type="search"] {
   height: 40px;
   width: 98%;
   font-size: 16px;
   background-image: url(../icon/magnifier.png);
   background-size: 15px;
   background-repeat: no-repeat;
   background-position: left 10px center;
   padding-left: 30px;
   background-color: #414141;
   border-radius: 8px;
   color: aliceblue;
   border: 1px solid rgb(131, 130, 130);
}
input[type="search"]:focus {
   border: 1px solid 777575;
   outline: none;
   background: none;
   padding: 0px;
   color: #ffffff;
   width: 98%;
   padding-left: 10px;
   background-color: #414141;
}
/* input::-webkit-search-cancel-button {
-webkit-appearance: none;
прибирає стандартний стииль з кнопки очищення поля пошуку,  все нижче працює лише для хрому
height: 24px;
   width: 24px;
   margin-left: .4em;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
   cursor: pointer;
} */
p {
   margin: 0px 0px 0px 0px;
}
.img-minus {
   width: 13px;
   height: 13px;
   margin-right: 5px;
}