@import url("../css/font.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
   background-color: #2C2C2D;
}
.color-white {
   color: #FFFFFF;
}
.color-green {
color: #23BCB3;
}

.flex-container {
   background: radial-gradient(121% 121% at 32% 100%, #9799A0 0%, #2C2C2D 100%);
   padding: 180px 0px 0px 220px;
   display: flex;
   width: 1600px;
   height: 1200px;
   margin: 0 auto;
   box-sizing: border-box;
   overflow: hidden;
}
.container-first {
   margin: 0px 320px -0px 0px;
   height: 100%;
   overflow: hidden;
}
.container-two {
   overflow: hidden;
}
.container-size {
width: 390px;
height: 844px;
box-shadow: -40px 60px 150px rgba(11, 10, 10, 0.7);
border-radius: 46px;
box-sizing: border-box;
}
.container-img {
   background: url(../img/wallpaper1.jpg), linear-gradient(167.95deg, #2E335A 0%, #1C1B33 100%);
}


.container-two-img {
   background: linear-gradient(168.32deg, #1A1C24 1.9%, #57586A 98.29%);
}
.container-header {
   box-sizing: border-box;
   width: 100%;
   margin: 0px 0px 175px 0px;
   height: 344px;
}

.sidebar {
   display: flex;
   height: 48px;
   width: 100%;
   margin: 0px 0px 0px 0px;
   justify-content: space-between;
   box-sizing: border-box;
   padding-left: 31px;
   padding-right: 27px;

}
.left-side {
   width: 54px;
   height: 20px;
   margin-top: 19px;
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
   line-height: 22px;
}
.right-side {
   width: 78px;
   height: 13px;
   display: flex;
   justify-content: space-between;
   margin-top: 23px;
}
.img-mobile {
   width: 18px;
   height: 12px;
}
.img-wifi {
   width: 18px;
   height: 12px;
}
.img-battery {
   height: 12px;
   width: 27px;
}

.main-row {
   width: 130px;
   height: 183px;
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   margin: 50px auto 0px;
   font-family: 'SF Pro Display';
   font-style: normal;
}
.city-name {
   width: 129px;
   height: 41px;
   font-weight: 400;
   font-size: 34px;
   line-height: 41px;
   text-align: center;
   letter-spacing: 0.374px;
   margin-bottom: 11px;
}
.temperatures {
   width: 127px;
   height: 70px;
   font-weight: 200;
   font-size: 96px;
   line-height: 70px;
   text-align: center;
   letter-spacing: 0.374px;
   margin-bottom: 11px;
}

.sky-covered {
   width: 115px;
   height: 24px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   margin-left: 7px;
}

.high-temperatures {
   width: 57.5px;
   height: 24px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   text-align: left;
   margin-left: 7px;
}

.low-temperatures {
   width: 57.5px;
   height: 24px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   text-align: right;
   margin-left: 7px;
}

.container-footer {
   overflow: hidden;
   width: 390px;
   height: 325px;   
   background: linear-gradient(135.73deg, rgba(46, 51, 90, 0.2) 11.01%, rgba(28, 27, 51, 0.2) 95.06%);
   box-shadow: inset 0px 1px 0px #FFFFFF;
   backdrop-filter: blur(25px);
   border-radius: 44px 44px 46px 46px;
   box-sizing: border-box;
   position: relative;
   background-image: url("../img/RectangleTwo.png");
   background-position: left -2px top -2px;
   background-repeat: no-repeat;

}
.container-forecast {
   width: 390px;
   height: 49px;
   box-sizing: border-box;
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
   padding: 9px 27px 0px 15px ;

}
.separator {
   width: 388px;
   height: 0px;
   border: 1px solid rgba(255, 255, 255, 0.5);
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.indicator{
   margin: 0px auto 19px;
   width: 49px;
   height: 5px;
   background: rgba(12, 11, 11, 0.3);
   border-radius: 10px;
}
.forecast-row {
   display: flex;
   height: 17px;
   justify-content: space-between;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0.374px;
   color: rgba(191, 192, 201, 0.53);
}
.container-weather-row {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 12px;
   width: 420px;
   height: 146px;
   margin-left: 21px;
   margin-top: 16px;
}
.container-weather {
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   align-items: center;
   width: 60px;
   height: 146px;
   background: rgba(19, 21, 28, 0.2);
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(255, 255, 255, 0.25);
   border-radius: 30px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 700;
   padding-top: 15px;
   padding-bottom: 5px;
}
.container-weather-hour {
   font-size: 15px;
   text-align: center;
   letter-spacing: 0.374px;
   line-height: 41px;
   width: 43px;
   height: 41px;

}
.container-weather-img {
   position: absolute;
background-image: url("../img/Moon.svg");
height: 32px;
width: 32px;
box-sizing: border-box;
top: 52px;
left: 14px;
}

.container-weather-percent{
font-size: 13px;
text-align: center;
letter-spacing: 0.374px;
line-height: 41px;
width: 30px;
height: 41px;
margin-top: 15px;
}

.container-weather-degree {
font-size: 15px;
letter-spacing: 0.374px;
width: 30px;
text-align: center;
}

.container-weather:nth-child(2):focus,.container-weather:nth-child(2):hover {
   background: #13151C;
   border: 1px solid rgba(255, 255, 255, 0.5);
   box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(255, 255, 255, 0.25);
   border-radius: 30px;
   outline: none;
}
.container-weather:nth-child(2):focus .some-hover {
   z-index:-1 ;
}
.container-weather:nth-child(2):hover .some-hover {
   z-index: -1;
}
.container-weather:nth-child(2):hover .some-img {
top: 59px;
left: 14px;
}
.container-button {
   position: relative;
}
.container-symbol {
   box-sizing: border-box;
   width: 390px;
   height: 89px;
   margin-top: 22px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 28px 0px 36px;
}
.symbol-one {
   width: 28px;
   height: 28px;
}
.sympo-two {
   width: 44px;
   height: 44px;
}

.img-footer {
position: absolute;
top: 2px;
left: 0;
z-index: -1;
}
.img-footer-middle {
   position: absolute;
   z-index: -1;
   top: -6px;
   left: 66px;
}
.circle-one {
   position: absolute;
   box-sizing: border-box;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   background: linear-gradient(138.22deg, rgba(0, 0, 0, 0.4) 16.11%, rgba(255, 255, 255, 0.28) 85.86%);
      filter: blur(0.5px);
   left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}
.circle-two {
   position: absolute;
   box-sizing: border-box;
   width: 58px;
   height: 58px;
   border-radius: 50%;
   background: linear-gradient(138.22deg, #F5F5F9 16.11%, rgba(218, 223, 231, 0.7) 85.86%);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.circle-three {
   position: absolute;
   box-sizing: border-box;
   width: 58px;
   height: 58px;
   border-radius: 50%;
   background: linear-gradient(138.22deg, #F5F5F9 16.11%, rgba(218, 223, 231, 0.7) 85.86%);
      box-shadow: -10px -10px 20px rgb(255 255 255 / 20%), 10px 10px 20px rgb(13 20 49 / 50%), inset 1px 1px 0.5px #ffffff;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.buttom-circle {
   position: absolute;
   box-sizing: border-box;
   border: none;
   border-radius: 50%;
   padding: 0px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(138.22deg, rgba(255, 255, 255, 0) 16.11%, #BBBFC7 85.86%);
   border-radius: 50%;
   width: 55px;
   height: 55px;
}
.buttom-circle img {
   height: 28px;
   width: 28px;
   filter: blur(0px);
}
.circle-one:focus, .circle-one:hover {
   left: 50%;
   top: 49%;
   transform: translate(-50%, -50%);
}
.eclipse-one {
   position: absolute;
   width: 286px;
   height: 32px;
   background: #090A0E;
   filter: blur(30px);
   left: 64px;
   top: -32px;
   border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
.eclipse-two {
position: absolute;
   width: 286px;
   height: 17px;
   background: #E0D9FF;
   filter: blur(5px);
   top: -15px;
   left: 54px;
   border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
.city-name-sreen-two {
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   width: 129px;
   height: 41px;
   font-size: 34px;
   line-height: 41px;
   text-align: center;
   letter-spacing: 0.4px;
   margin: 40px auto 5px;
}
.weather-container-row {
   display: flex;
   box-sizing: border-box;
   height: 41px;
   margin: 8px 0px 0px 101px;
}
.temperatores-screen-two {
   width: 38px;
   height: 23px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   margin-right: 9px;

}
.vertical-line {
   width: 0px;
   height: 23px;
   border: 1px solid #FFFFFF;
   background-color: #ffffff;
   margin-right: 13px;
}
.sky-covered-screen-two {
   width: 116px;
   height: 24px;
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.38px;
}
.container-weather-screen-two {
   width: 466px;
   height: 672px;
   background: linear-gradient(135.73deg, rgba(46, 51, 90, 0.2) 11.01%, rgba(28, 27, 51, 0.2) 95.06%);
   box-shadow: inset 0px 1px 0px #FFFFFF;
   backdrop-filter: blur(25px);
   border-radius: 44px 44px 0px 0px;
   margin-left: -38px;
}
.container-weather-row-two {
box-sizing: border-box;
width: 390px;
height: 670px;
display: flex;
flex-direction: column;
margin: 0px 0px 0px 62px;
padding-top: 5px;
}
.container-weather-night-day {
   position: relative;
   width: 342px;
   height: 184px;
   padding-top: 10px;
   margin-bottom: 19px;
}
.container-radius {
   box-sizing: border-box;
   border-radius: 12% 95% 11% 8% / 26% 60% 20% 20%;
   height: 174px;
   width: 342px;
   background: linear-gradient(90deg, #2B2E3B 10.25%, #494A4F 103.55%);
   padding-left: 20px;
   padding-top: 45px;
}
.container-radius-row {
   display: flex;
   justify-content: space-between;
} 
.container-radius-row-text {
   display: flex;
   flex-wrap: wrap;
   width: 136px;
   height: 41px;
   color: rgba(235, 235, 245, 0.6);
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
} 
.text-heigh {
margin-right: 8px;
text-align: center;
letter-spacing: 0.4px;
}
.text-low {
text-align: center;
letter-spacing: 0.4px;
}
.text-name-country {
text-align: center;
letter-spacing: 0.4px;
}

h2 {
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 41px;
color: #FFFFFF;
letter-spacing: 0.4px;
margin-bottom: 28px;
}
.text-weather {
   box-sizing: border-box;
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: right;
   letter-spacing: 0.1px;
   color: #FFFFFF;
   margin-top: 15px;
   padding-top: 10px;
   vertical-align: bottom;
   margin-right: 25px;
   margin-bottom: 20px;
}
.big-img {
   position: absolute;
   width: 160px;
   height: 160px;
   top: 0;
   right: 0;
}
button {
   cursor: pointer;
}