@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
   font-family: 'Product Sans';
   src: url('ProductSans-Regular.eot');
   src: local('Product Sans'), local('ProductSans-Regular'),
      url('ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('ProductSans-Regular.woff') format('woff'),
      url('ProductSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
a {
text-decoration: none;
}
a,
button {
   cursor: pointer;
}
button {
   border: none;
}
body {
   width: 100%;
   height: auto;
}
html {
   height: auto;
   scroll-behavior: smooth;
   background-color: #E5E5E5;
}
.container {
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   overflow: hidden;
}
.heder {
   box-sizing: border-box;
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 4.4% 0% 11.3% 11.3%;
   background-color: #F4F6F9;

}
.header__navigation__logo {
   display: flex;
   flex-direction: row;
   column-gap: 5px;
}
.footbool_logo__blue {
fill: #334382;
}
.footbool_logo__azure {
   fill: #00ADEE;
}
.footbool_logo__white {
   fill: #FFFFFF;
}
.header__navigation__text {
   font-family: 'Product Sans', sans-serif;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: -0.02em;
   color: #5282F0;
   font-weight: 800;
}
.header__h1 {
   width: 40%;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: 0.03em;
   color: #333333;
   margin-top: 9.2%;
   margin-bottom: 2%;
} 
.header__text {
   width: 31%;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #4F4F4F;
   margin-bottom: 3.5%;
}
.two__button {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 348px;
}
.btn_1 {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 156px;
   height: 47px;
   background: #000000;
   border-radius: 7.3px;
   padding-top: 6px;
}
.apple__logo {
fill: #DADADA;
}
.btn_1__row {
display: flex;
flex-direction: column;
}
.btn_1__row p {
   text-align: start;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
}
.btn_1__row h3 {
font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 21.2716px;
   line-height: 25px;
   display: flex;
   align-items: flex-end;
   color: #FFFFFF;
}
.btn_2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 156px;
   height: 47px;
   background-color: #000000;
   border-radius: 7.3px;
   justify-content: space-between;
   padding: 6px 10px 6px 12px;
}
.google__play_text {
display: flex;
flex-direction: column;
margin-left: 10px;

}
.google__play_text p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   color: #FFFFFF;
   text-align: left;
}
.goole__play__text_next {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
column-gap: 5px;
}
.goole__play__text_next p {
font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 17px;
   line-height: 21px;
   color: #FFFFFF;
}
.goole__play__text_next h3 {
   font-family: 'Product Sans', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 25px;
   color: #FFFFFF;
}
.google_play_store_logo_blue {
   fill: #00D6FF;
}
.google_play_store_logo_green {
fill: #00F076;
}
.google_play_store_logo_red {
fill: #F93647;
}
.google_play_store_logo_yellow {
fill: #FFCE00;
}
.header__img__phone {
   width: 59%;
   height: 95%;
   position: absolute;
   right: 0%;
   bottom: 5%;
}

.footer__all {
   width: 100%;
   height: 130px;
   background-color: #00ADEE;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;

}
.footer__navigation__logo {
   display: flex;
   flex-direction: row;
   column-gap: 5px;
}

.footer__navigation__text {
   font-family: 'Product Sans', sans-serif;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.main {
   box-sizing: border-box;
   max-width: 1440px;
   height: auto;
}
.link__social__media {
   width: 110px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.link_nav {
   display: flex;
   flex-direction: row;
   column-gap: 36px;
   align-items: center;

}
.link_nav li {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
}
.section__six {
   position: relative;
   display: flex;
   flex-direction: row;
   background-color: #FFFFFF;
}
.single {
   width: 52%;
}
.section__six__sec {
   z-index: 2;
   padding-top: 8%;
   padding-bottom: 9%;
   width: 48%;

}
.section__six__h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   padding-bottom: 5%;
   width: 60%;
}
.section__six__text {
   width: 80%;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #4F4F4F;
   padding-bottom: 3%;

}
.bottomfootbool {
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}
.section__five {
   background-color: #FAFAFA;
   box-sizing: border-box;
   height: 280px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 4% 13% 6% 13%;
}
.section__five h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
}
.section__five__fetured {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
.section__three {
   background-image: url("../img/bluefone.png");
   background-repeat: no-repeat;
   background-size: 100%;
   height: auto;
   max-width: 1440px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5% 11% 4% 11%;
}
.section__three h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #FFFFFF;
   margin-bottom: 4%;
}
.section__three__row {
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   height: 70%;
   gap: 50px 90px;
}
.section__three__row__fragment {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 27%;
}
.section__three__row__fragment p {
   padding-top: 8px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #FFFFFF;
}
.section__two {
   background-image: url("../img/circlephone.png");
   background-repeat: no-repeat;
   background-size: 100%;
   height: 720px;
   max-width: 1440px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 70px 250px 10px 160px;
}
.section__two__interface {
   margin-top: 130px;
   width: 480px;
}
.section__two__interface__blue {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #00ADEE;
}
.section__two__interface h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 27px 0px;
}
.section__two__interface__row {
margin-bottom: 54px;
}

.section__two__interface__row {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #4F4F4F;
   row-gap: 20px;
}
.section__two__foto {
   position: relative;
   display: flex;
   width: 42%;
   height: 100%;
   justify-content: end;
}

.section__two__foto__salah {
   width: 352px;
   height: 615px;
}
.section__two__foto__bell {
   width: 95px;
   height: 95px;
   position: absolute;
   top: 55px;
   left: 115px;
}
.section__two__foto__phone {
   width: 95px;
   height: 95px;
   position: absolute;   
   bottom: 150px;
   right: -15px;
   }
.section__two__foto__circle {
   width: 60px;
   height: 60px;
   position: absolute;
   bottom: 115px;
   left: 30px;
}
.section__four {
   flex-direction: column;
   display: flex;
   align-items: center;
   height: 435px;
   width: 100%;
   background-color: #FFFFFF;
   box-sizing: border-box;
   padding-top: 4.4%;
}
.section__four h2 {
   margin-bottom: 4.4%;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
}
.section__four__slider {
   height: 162px;
   display: flex;
   flex-direction: row;
   column-gap: 35px;
}
.section__four__slider__box {
   width: 309px;
   height: 161px;
   background-color: #00D6FF;
   border-radius: 4px;
}
.box_1 {
background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
}
.box_2 {
   background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
}


.circle__grey {
   width: 145px;
   height: 12px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 47px auto 44px;
} 
.circle__grey_1 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #828282;
} 
.circle__grey_2 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #979595;
} 
.circle__grey_3 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #B2B0B0;
} 
.circle__grey_4 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #CDCBCB;
} 
.circle__grey_5 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #E2E1E1;
} 
.circle__grey_6 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #EEEEEE;
} 
.circle__grey_7 {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #F7F7F7;
}